@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap');

body {
  margin: 0;  
  
  font-family: 'DM Mono', monospace;
    
  color: #5D7DB3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(168,185,213);
  background: linear-gradient(90deg, rgba(168,185,213,1) 0%, rgba(26,71,148,1) 38%, rgba(5,13,50,1) 95%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.weekHeader {
  margin: 0;
  padding-top: 30px;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* border: .5px solid black; */
}

.picture-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
  margin: 40px 25px 0 25px; 
  background: rgba(33, 7, 61, .65);
}

.photo-fit {
  width: 250px;
  overflow: hidden;
}

.photoOfTheDay {
  display: flex;
  flex-direction: column;
}

.potdFit {
  max-width: 100%;
  overflow: hidden;
}